ul{
    margin: 0;
}
nav{
    background:transparent;
    height: 20px;
    width: 100%;
    vertical-align: middle;
}

#banner{
    background:rgba(0, 0, 0, 0.2);
    height: 700px;
    color:white;
}

#banner .hr{
    width: 60%;
    background: white;
}

header{
    background:rgba(0, 0, 0, 0.4) ;
}

.nav_se{
    list-style: none;
    margin: 0;
    float: right;
}

.nav_se li{
    display: inline-block;
    line-height: 20px;
    margin-right: 20px;
}

.nav_se li a{
    text-decoration: none;
    display: inline-block;
    line-height: 30px;
    color: #fff;
}

.logo{
    float: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 20px;
    line-height: 30px;
}

.logo a{
    line-height: 30px;
    text-decoration: none;
    color: #fff;
}

.inner{
    position: relative;
    top: 100px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.inner h1{
    margin: 0px;
}

button{
    margin-top: 20px;
    border: none;
    background: red;
    color: #eee;
    padding: 10px 40px;
    border-radius: 3px;
}

.more{
    margin-top: 80px;
}

.sub_heading{
    line-height: 30px;
    margin: 10px;
    font-size: 14px;
}

.green-section{
    text-align: center;
    background: #089db0;
    color: white;
    padding: 100px 0;
}

.wrapper{
    max-width: 720px;
    margin: 0 auto;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}

.green-section .hr{
    width: 60%;
    background: #078494;
}

.sub_heading{
    font-size: 18px;
}

.icon-group{
    margin-top: 60px;
}

.icon{
    display: inline-block;
    width:80px;
    height: 80px;
    background: #078494;
    transform: rotate(45deg);
    margin: 20px;
}

.article-preview > div{
    float: left;
}

.gray-section{
    background: #232f34;
    color: #fff;
}

.gray-section .img-section{
    width: 45%;
}

.img-section img{
    width: 100%;
}

.gray-section .text-section{
    width: 55%;
}

.article-preview:after{
    content: '';
    display: block;
    clear: both;
}

.text-section{
    position: relative;
    top: 68px;
    left: 50px;
}

.text-section h2{
    margin-bottom: 20px;
}

.text-section p{
    font-size: 18px;
    letter-spacing: 1px;
    max-width: 80%;
}

.article-preview:nth-child(odd){
    background:rgba(255, 255, 255, 0.05);
}

.purple-section{
    padding: 80px;
    background: #3f3965;
    color: white;
}

.headding-wrapper{
    text-align: center;
}

.headding-wrapper .hr{
    background: #373259;
    width: 80%;
}

.card{
    float: left;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.card-group:after{
    content: '';
    display: block;
    clear: both;
}

.card-group{
    margin-top: 20px;
}

.h3{
    font-size: 24px;
}

.card p{
    font-size: 16px;
    letter-spacing: 1px;
}

.card:first-child{
    background: rgba(0, 0, 0, 0.05);
}

.card:nth-child(2){
    background: rgba(0, 0, 0, 0.09);
}

.card:nth-child(3){
    background: rgba(0, 0, 0, 0.13);
}

.card:nth-child(4){
    background: rgba(0, 0, 0, 0.17);
}

.card:nth-child(5){
    background: rgba(0, 0, 0, 0.21);
}

.card:nth-child(6){
    background: rgba(0, 0, 0, 0.25);
}

footer{
    background: #333;
    color: white;
    min-height: 120px;
    text-align: center;
}

footer .share-group{
    display: block;
    width: 720px;
    margin: 0 auto;
    padding: 50px;
}

footer .share-group li{
    display: inline-block;
    padding: 10px;
}

.copy{
    padding-bottom: 30px;
}

.main-wrapper{
    background:#444 url(img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

